@import '../../scss/abstracts/mixins';

.related-shapes {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;

    @include breakpoint('smedium') {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @include breakpoint('medium') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
