@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.shape-card {
  display: block;
  background-color: $dark-2;
  border-radius: 10px;
  height: 100%;

  &,
  &:hover {
    text-decoration: none;
  }

  &:hover {
    background-color: darken($dark-2, 1%);
  }

  &__shape {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    color: $primary-colour;

    @include breakpoint('medium') {
      height: 120px;
    }

    .shape {
      transform: scale(0.2);

      @include breakpoint('medium') {
        transform: scale(0.35);
      }
    }
  }

  &__content {
    padding: 20px;
    text-align: center;
    border-top: 1px solid $tertiary-colour;

    @include breakpoint('medium', 'down') {
      display: none;
    }
  }

  &__name {
    margin: 0;
    color: $font-color-1;
    hyphens: auto;
  }
}
