@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

.snippet {
  &__title {
    color: $font-color-1;
  }

  &__inner {
    position: relative;
    padding: 40px 20px;
    margin-bottom: 40px;
    border-radius: 25px;
    background: $dark-3;

    @include breakpoint('medium') {
      padding: 40px;
      border-radius: 50px;
    }
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: transparent;
  }

  pre {
    margin: 0.5em 0;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  }

  pre[class*='language-'] {
    padding: 0;
    max-height: 350px;
    overflow-y: auto;
  }
}
